@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Doctors AnyTime and Anywhere</h1>

    <p class="lead">We TakeCare of your Health to Longger Life, The Person Who Has GoodPhysical Health is Likely To Have Bodily Function And Process Working At Their Peak. </p>
    <p><a href="https://nowserving.ph/dasmarinas-city-cavite/" class="btn btn-primary btn-lg">Find Doctor &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Our Top Specialties</h2>
        <p>
            People have been looking for these specialties.
        </p>
        <p><a class="btn btn-default" href="https://nowserving.ph/specialty/">Find more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Common Conditions</h2>
        <p>Easily access doctors treating these conditions</p>
        <p><a class="btn btn-default" href="https://nowserving.ph/conditions/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Common Services</h2>
        <p> Easily Access doctors offering this services.</p>
        <p><a class="btn btn-default" href="https://nowserving.ph/services/">Learn more &raquo;</a></p>
    </div>
</div>
